[submodule "third_party/skia"]
	path = third_party/skia
	url = https://github.com/google/skia.git
[submodule "third_party/skia-externals/d3d12allocator"]
	path = third_party/skia-externals/d3d12allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "third_party/skia-externals/spirv-cross"]
	path = third_party/skia-externals/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "third_party/skia-externals/spirv-headers"]
	path = third_party/skia-externals/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/skia-externals/libjpeg-turbo"]
	path = third_party/skia-externals/libjpeg-turbo
	url = https://chromium.googlesource.com/chromium/deps/libjpeg_turbo.git
[submodule "third_party/skia-externals/libpng"]
	path = third_party/skia-externals/libpng
	url = https://skia.googlesource.com/third_party/libpng.git
[submodule "third_party/skia-externals/libwebp"]
	path = third_party/skia-externals/libwebp
	url = https://chromium.googlesource.com/webm/libwebp.git
[submodule "third_party/skia-externals/wuffs"]
	path = third_party/skia-externals/wuffs
	url = https://github.com/google/wuffs-mirror-release-c.git
[submodule "third_party/skia-externals/zlib"]
	path = third_party/skia-externals/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
[submodule "third_party/skia-externals/harfbuzz"]
	path = third_party/skia-externals/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "third_party/skia-externals/libgrapheme"]
	path = third_party/skia-externals/libgrapheme
	url = https://github.com/FRIGN/libgrapheme.git
[submodule "third_party/skia-externals/unicodetools"]
	path = third_party/skia-externals/unicodetools
	url = https://github.com/unicode-org/unicodetools.git
[submodule "third_party/skia-externals/icu"]
	path = third_party/skia-externals/icu
	url = https://chromium.googlesource.com/chromium/deps/icu.git
